#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #ffffff; /* Optional: Background color */
  text-align: center;
  justify-content: center;
  
}
/* Ensure the page content stretches and footer stays at the bottom */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}
